<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
    {% for fruit in fruits %}
        <li> {{ forloop.counter }} - {{ fruit }} </li>
    {% endfor %}

        <!-- Wyszukiwanie (lookup) po kluczu -->
        <p> {{ person.age }} </p>

        <!-- Wyszukiwanie (lookup) po nazwie atrybutu/metody -->
        <p> {{ cow.name }} </p>

        <!-- Wyszukiwanie (lookup) po indeksie -->
        <p> {{ fruits.1 }} </p>
    </ul>
</body>
</html>