<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karola's homework</title>
</head>
<body>
<h1>Hi, Jerzy! This is my homework.</h1>
<p>Here's some links you can click on:</p>
<ul>
  <li>
      <a href=http://127.0.0.1:8000/hello>Here</a> you can say hello to the world
  </li>
    <li>
        <a href="http://127.0.0.1:8000/hellogeorge/">Here</a> you can say hello to yourself
    </li>
    <li>
        <a href="http://127.0.0.1:8000/hi/">Here</a> you can say hello to my colleague, Mateusz
    </li>

</ul>
</body>
</html>